.galaxy-page-header {
  position: absolute;
  z-index: 10000000000000;
  width: 100%;
  padding: 1rem;
  display: flex;
  background: rgba(0, 0, 0, 0.2) !important;
  color: white;
}

.galaxy-container {
  flex: 1 1 80%;
}

.galaxy-page-brand {
  flex: 1 1 20%;
}

.galaxy-page-brand > a {
  font-family: "Jost";
  font-size: 1rem;
  font-weight: 900;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
